.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}
