.container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    background-color: #b53669;
    grid-column-start: 1;
    grid-column-end: 4;
 }
.block.block2{
    background-color: #726ea6;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.block.block3{
    background-color: #7d8dc2;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}
.block.block4{
background-color: #a1d2da;
    grid-column-start: 3;
    grid-row-start: 2;
}
.block.block5{
background-color: #c191ce;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
}
.block.block6{
background-color: #b6366a;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
}
.block.block7{
background-color: #716da5;
    grid-column: 3;
    grid-row: 4;
}
.block.block8{
background-color: #7d8dc2;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row: 5;
}
