.button{
    background-color: green;
    color: white;
    font-size: 2em;
    margin: 0 auto;
    width: 150px;
    height: 50px;
}
.button:hover{
    box-shadow: black 2px 4px 2px;
}
.button:first-child{
    margin-bottom: 10px;
}
.button:last-child{
    margin-top: 10px;
}
#homeScreen{
    padding-left: 45%;
    padding-right: 55%;
    padding-top: 20%;
}
#gameScreen {
    display: none;
}
#upgradeScreen{
    display: none;
}