h1 {
    text-align: center;
}

h1 + label {
    margin-left: 45%;
}

#inputs {
    margin-left: 15%;
    margin-top: 2%;
    border: 1px solid;
}

#inputs{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 10px;
    outline: none;
    margin-right: 73%
}

#inputs input:focus {
    border-color: #007bff;
}