body {
    background-color: navajowhite;
}
ul li:hover{
   background-color: cadetblue;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
img:hover {
    animation: rotate 252ms linear infinite;
}
h1:first-letter,h2:first-letter,h3:first-letter {

    font-family: "Mistral", cursive;
    font-size: 5em;
}
ul li:active{
    width: fit-content;
    margin: 0 auto;
}
